{% extends "base.html.twig" %}
{% block body %}
<main>
    <div class="wrapper">
        <section class="ads__container row">
            <aside class="search col-md-3">
                <span class="your_search">Ваш поиск:</span><input type="text">
                <span class="show_only">Показать только:</span>
                <input type="checkbox"><span class="adds_with_photo">Объявления с фотографиями</span>
                <span class="price">Цена</span>
                <span class="price--min">Min: </span><input type="text" name=price_min><br>
                <span class="price-max">Max:</span><input type="text" name=price_max><br>
               <div class="btn--search--container"> <div class="btn btn-search">Применить</div></div>
            </aside>
            <div class="ads_container col"><span class="ads__title">Объявления</span>
                <ul class="ads row">
                    {% for ad in ads %}
                        <li class="product__item__container col-sm-6 col-lg-4 p-2">
                    <div class="ad__item h-100">
                        <div class="ad__item__row d-flex align-items-end flex-column">
                            <div class="ad__item__col">
                              <a href="{{ path('ad_show', {'id': ad.id}) }}" class="ad__item__link">
                                  {% if(ad.photos[0] is defined) %}
                                  {% set img_path = 'upload/images/ads/' ~ ad.photos[0].image %}
                                    <img src="{{ asset(img_path) }}" alt="" class="ad__item__photo"> 
                                     {% else %}
                                    {% set img_path = 'upload/images/products/' %}
                                    <img src="{{ asset(img_path ~ 'default-thumbnail.jpg') }}" class="ad__item__photo">
                                     {% endif %}
                              </a>  
                            </div>
                            <div class="ad__item__col mt-auto">
                                <div class="ad__item__title"><a href="{{ path('ad_show', { 'id': ad.id}) }}">{{ ad.name }}</a></div>
                                <div class="ad__item__published">{{ ad.dateAt|date('d.m.y') }}</div>
                                <div class="ad__item__description">{{ ad.description }}</div>
                                <div class="ad__item__price">{{ ad.price }} &#8381;</div>
                            </div>     
                        </div>
                      <a href="{{ path('ad_show', { 'id': ad.id}) }}"  class="ad__item__hidden-layer"></a>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
</main>
{% endblock %}