{% extends "base.html.twig" %}
{% block body %}
    <main class='wrapper'>
            <section class="catalog">
               <div class="catalog-container">
                   <h4>Фото-каталог судовых запчастей</h4>
                <ul class="category_list row dflex">
                    {% for category in categories%}
                    <li class="catalog_list__item col-sm-4"><a href="{{ path('catalog_category', {id: category.id }) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
                 <ul class="product__list row d-flex">
                   {% for product in products %}
                       
                    <li class="product__item__container col-3 p-2">
                        <div class="product__item h-100">
                      <div class="product__item__row d-flex align-items-end flex-column">
                          <div class="product__item__col">
                              <a href="{{ path('product_show', {id: product.id}) }}" class="product__item__link">
                                  {% set img_path = 'upload/images/products/' ~ product.photos[0].image %}
                            <img src="{{ asset(img_path) }}" alt="" class="product__item__photo">
                       </a>  
                        </div>
                            <div class="product__item__col w-100 mt-auto">
                                <div class="product__item__title"><a href="{{ path('product_show', {id: product.id}) }}">{{ product.name }}</a></div>
                                <div class="product__item__published">{{ product.dateAt|date('d.m.Y') }}</div>
                                <div class="product__item__description">{{ product.description }}</div>
                                {% if (product.price == 'по запросу')%}
                                <div class="product__item__price">Цена {{ product.price }}</div>
                                {% else %}
                                <div class="product__item__price">{{ product.price }} &#8381;</div>
                                {% endif %}
                            </div>     
                        </div>
                      <a href="{{ path('product_show', {id: product.id}) }}"  class="product__item__hidden-layer"></a>
                      </div>   
                    </li>
                   {% endfor %}
                </ul>     
               </div>    
            </section>

        </main>
{% endblock %}