{% extends "base.html.twig" %}
{% block body %}
    <main class='row no-gutters'>
            <section class="catalog col">
               <div class="catalog-container">
                   
                    <div class="row product__container wrapper">
                        <div class="product__photo col-md-7">
                              <div class="d-flex justify-content-between">
                                  {% if (product.price == 'по запросу')%}
                               <h2 class="product__photo__title" >{{ product.name }}</h2><span class="product__photo__price">Цена {{ product.price }}</span>
                               {% else %}
                               <h2 class="product__photo__title" >{{ product.name }}</h2><span class="product__photo__price">{{ product.price }} руб.</span>
                               {% endif %}
                               </div>
                               <div class="product__published">
                                   <span class="bold">Дата публикации: </span>{{ product.dateAt|date('d.m.Y') }}<br>
                                   <span class="bold">Местоположение: </span>{{ product.location }}
                               </div>
                               <div class="d-flex justify-content-between">
                            <div class="photo__main">
                                {% set img_path = 'upload/images/products/' %}
                                {% if(product.photos[0] is defined) %}
                                <img src="{{ asset(img_path ~ product.photos[0].image) }}" id="photo__main" alt="product">
                                {% else %}
                                <img src="{{ asset(img_path ~ 'default-thumbnail.jpg') }}" id="photo__main" alt="product">
                                {% endif %}
                                </div>
                            <div class="photo_column justify-self-center d-flex flex-column">
                                {% set i = 0 %}
                                {% for photo in product.photos %}
                                    
                                    {% if i != 0 %}  
                                <img src="{{ asset(img_path ~ photo.image) }}" alt="product" id="photo__secondary--1" class="photos__item">
                                    {% endif %}
                                    {% set i = i + 1 %}
                                {% endfor %}
                                </div>
                            </div>
                            <div class="product__description">{{ product.description}}</div>
                        </div>
                        <div class="feedback__container col-md-5">
                            <div class="feedback">
                                <h3 class="feedback__title">Связаться с автором</h3>
                                <div class="feedback__name">
                                    Имя: Юлай
                                </div>
                                <div class="feedback__phone">
                                    Телефон: 899977666666
                                </div>
                                <span class="feedback__span">
                                    Ваше имя:
                                </span>
                                <input type="text" class="feedback__input">
                                <span class="feedback__span">
                                    Адрес вашей электронной почты:
                                </span>
                                <input type="text" class="feedback__input">
                                <span class="feedback__span">
                                    Номер телефона (Опционально):
                                </span>
                                <input type="text" class="feedback__input">
                                <span class="feedback__span">
                                    Сообщение:
                                </span>
                                <textarea class="feedback__textarea" name="feedback__textarea" id="feedback__textarea" cols="23" rows="3"></textarea>
                                <div class="captcha"></div>
                                <div class="btn--send">Отправить</div>
                            </div>
                        </div>
                    </div>
               </div>    
            </section>
        </main>
{% endblock %}