{% extends "base.html.twig" %}
{% block body %}
<main>
    <div class="wrapper">
        <section class="ads__container row">
            {% if is_granted('ROLE_USER') %}
            <aside class="search col-md-3">
               <div class="user user--profile d-flex ">
                    <div class="user_icon"></div>
                    <span class="user_name user_name--profile" >{{ app.user.email }}</span>
               </div> 
            
            <div class="profile__text">
                <span class="bold">{{app.user.name|capitalize}}</span>, в данном разделе вы можете опубликовать объявления. Все объявления проходят одобрение модератором, после чего публикуются в разделе "Объявления".
            </div>
            </aside>
            <div class="col">
            <div class="btn btn-search btn--new-ad"><a href="{{ path('profile_new')}}">Создать объявление</a></div>
            <div class="ads_container__list">
              {% if (ads|length != 0) %}
               <h4>Мои объявления:</h4>
                <ul>
                    {% for ad in ads %}
                        
                    <li class="ads_container__list__item d-flex">
                        <div class="ads_container__list__item__img col-sm-4">
                            <a href="{{ path('ad_show', {'id': ad.id}) }}" class="product__item__link">
                                {% if(ad.photos[0] is defined) %}
                                  {% set img_path = 'upload/images/ads/' ~ ad.photos[0].image %}
                                    <img src="{{ asset(img_path) }}" alt="" width='100%'> 
                                     {% else %}
                                    {% set img_path = 'upload/images/products/' %}
                                    <img src="{{ asset(img_path ~ 'default-thumbnail.jpg') }}" width='100%'>
                                     {% endif %}
                                     </a>
                        </div>
                        
                        <div class="ads_container__list__item__desc w-100">
                           <div class="d-flex justify-content-between">
                            <div class="bold ads_container__list__item__desc__title">{{ ad.name }} </div>
                            <div class="ads_container__list__item__desc__price">Цена: <span class="bold">{{ ad.price }}</span></div>
                            </div>
                            <div class="ads_container__list__item__desc__date"> Дата размещения: {{ ad.dateAt|date('d.m.Y') }} г.</div>
                            
                            <div class="ads_container__list__item__desc__location">Месторасположение: {{ ad.location }}</div>
                            <div class="ads_container__list__item__desc__text">{{ ad.description }}</div>
                            
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            </div>
            {% endif %}
        </section>
    </div>
</main>
{% endblock %}